 @model RentalFormViewModel
@{
    ViewData["Title"] = ViewBag.Title;
}

<form asp-action="CreateOrUpdate">
  <input type="hidden" asp-for="Id" >
  <input type="hidden" asp-for="UserId" >
  <input type="hidden" asp-for="DateRental" > 

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">
          <i class="fas fa-shopping-cart" title="Rental movie"></i>
        </th>
        <th scope="col">Name</th>
        <th scope="col">Genre</th>
        <th scope="col">Active</th>
        <th scope="col">Created</th>
        <th scope="col">
          <button class="btn btn-light" asp-action="Index">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </th>
      </tr>
    </thead>
    <tbody style="height: 100px !important; overflow: scroll;">
      @for (int i = 0; i < Model.MovieRentals.Count; i++)
      {
        <input type="hidden" asp-for="@Model.MovieRentals[i].Id" />
        <input type="hidden" asp-for="@Model.MovieRentals[i].Name" />
        <input type="hidden" asp-for="@Model.MovieRentals[i].DateCreated" />
        <input type="hidden" asp-for="@Model.MovieRentals[i].Active" />
        <input type="hidden" asp-for="@Model.MovieRentals[i].GenreId" />
        <tr id="item-@Model.MovieRentals[i].Id">
          <th scope="row">              
            <input type="checkbox" asp-for="@Model.MovieRentals[i].Rental" title="Rental movie">                                   
          </th>
          <td>@Model.MovieRentals[i].Name</td>
          <td>@Model.MovieRentals[i].GenreId</td>
          <td>
            @(Model.MovieRentals[i].Active ? "Yes" : "No")
          </td>
          <td>
            @Model.MovieRentals[i].DateCreated.ToString("dd/MM/yyyy")
          </td>
          <td></td>
        </tr>
      }
    </tbody>
  </table>

  
</form>