@model IEnumerable<RentalFormViewModel>
@{
    ViewData["Title"] = ViewBag.Title;
}

<form>
    <button asp-action="Form" class="btn btn-primary btn-new float-right" title="New">Rental<i class="fas fa-plus"></i></button>
</form>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Created</th>      
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr id="item-@item.Id">          
        <td>
          @item.DateRental.ToString("dd/MM/yyyy")
        </td>
        <td>            
          <a asp-action="Form" asp-route-id="@item.Id" class="btn btn-light" title="Edit"><i class="fas fa-edit"></i></a>
          <button onclick="modalDeleteShow(@item.Id)" class="btn btn-light" title="Delete"><i class="fas fa-trash"></i></button>            
        </td>
      </tr>
    }
  </tbody>
</table>

<!-- Modal Delete -->
<partial name="_ModalDelete"></partial>

<!-- Modal Delete Range-->
<partial name="_ModalDeleteRange"></partial>

@section scripts{
  <script src="~/js/viewsIndex.js" asp-append-version="true"></script>
  <script>
    urlDelete = '@Url.Action("Delete")';
    urlDeleteRange = '@Url.Action("DeleteRange")';
  </script>
}